.skills{

}
.skillBox{
    border-radius: 70px;
    background-color: #151515;
    padding: 60px 50px;
    margin-top: -60px;
}
.skillBox h2{
    font-size: 45px;
	font-weight: 700;
}
.skillBox p{
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.carsoul{
    margin: 10 auto;
    position: relative;
    padding-top: 30px;

}
.carsoul img{
    width: 50%;
    margin: 0 auto 15px auto;
}
.imgg{
    position: absolute;
    top:28%;
    bottom: 0;
    width: 40%;
    z-index: -4;
}