
 
  .Projects {
    padding: 80px 0;
    position: relative;
   
}


.projectBox h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.projectBox p {
    color: #6c757d;
    font-size: 1rem;
    margin: 10px auto 30px auto;
    width: 60%;
}

.card {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  background: linear-gradient(180deg, hsla(313, 43%, 54%, 0.87) 0%, #132a53 100%);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.cardImage img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardBody {
   
    color: #fff;
    text-align: center;
   
}

.title {
    padding:20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin-bottom:30px;
    padding: 0;
}

.skill {
    font-size: 0.9rem;
    background: #390b47;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: hsl(0, 72%, 62%);
    padding: 8px 20px;
    border-radius: 25px;
    transition: background 0.3s;
}

.link:hover {
    background: #ff3b3b;
}

.imgg2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}


@media (max-width: 768px) {
    .projectBox p {
        width: 80%;
    }

    .title {
        font-size: 1.2rem;
    }

    .links {
        flex-direction: column;
       
    }
    .link{
      margin-bottom:20px;
    }
}
